body {
  background-color: rgb(255, 237, 237);
}

.outer {
  max-width: 40%;
  margin: auto;
}

.header {
  text-align: center;
}

.column {
  display: flex;
}

.left, .right {
  flex: 50%;
  /* padding: 10px; */
  text-align: center;
  margin: auto;
}

.frontButton {
  margin-bottom: 10%;
  width: 90%;
}

.backArrow {
  width: 5%;
}

#sebutton {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
