@font-face {
  font-family: monsterrat;
  src: url(./Monsterrat-Medium.woff) format('woff'),
       url(./Montserrat-Medium.ttf) format('truetype');
}

body {
  font-family: monsterrat;
  background-color: #E4E9F1;
  color: #000000;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #000000;
}

/* iframe {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 56.25%;
} */

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container-small {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  line-height:0px;
}

.iframe-small {
  height:100%;
}

.photo {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.vids {
  max-width: 82%;
  margin: auto;
}

.stuff {
  max-width: 95%;
  margin: auto;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.columnfloatright {
  float: right;
  padding: 10px;
}

.columnfloatleft {
  float: left;
  padding: 10px;
}

.pageTitle {
  text-align: center;
  font-size: 48px;
}

.vidTitle {
  font-size: 24px;
  text-align: center;
}

.description {
  font-size: 16px;
  text-align: center;
}

.nav {
  width: 26%;
}

.left, .right {
  width: 36%;
  text-align: center;
  margin: auto;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.middle {
  width: 74%;
  text-align: center;
  margin: auto;
}

.navButton {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.navButton:hover {
  cursor: pointer;
  color: #3D7AB8;
}

.lilNavButton {
  font-size: 14px;
  text-indent: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.lilNavButton:hover {
  cursor: pointer;
  color: #3D7AB8;
}

.navNoHov {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.lightBlue {
  color: #3D7AB8;
}

/* Clear floats after the columns */
.stuff:after {
  content: "";
  display: table;
  clear: both;
}

.abouttext {
  text-align: left;
}

@media screen and (max-width: 1275px) {

  .columnfloatright {
    padding: 10px;
  }

  .right {
    width: 100%;
    text-align: center;
    margin: auto;
    float: right;
  }

  .left {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .middle {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  img {
    margin-bottom: 50px;
    width: 100%;
    height: auto;
  }

  .nav {
    width: 100%;
  }

  h2 {
    font-size: 9vw;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000000;
  }

  .navButton {
    font-size: 6vw;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .lilNavButton {
    font-size: 4vw;
    text-indent: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .abouttext {
    text-align: left;
    font-size: 4vw;
  }

  .vids {
    max-width: 100%;
    margin: auto;
  }

  .iframe-container-small {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .iframe-small {
    height: 100%;
  }

}
