body {
  text-align: center;
}

select {
  display: inline;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

tr {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background: #CCC}

tr:nth-child(odd) {background: #FFF}
