body {
  background-color: rgb(255,176,209);
}

.content {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 50px;
  cursor: pointer;
}

.navButton {
  font-size: 18px;
  background-color: rgb(166,234,255);
  cursor: pointer;
  border: 2px solid black;
  padding: 15px 32px;
  margin: 5px 60px;

  /* border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
}

#abo {
  display: none;
}

#vid {
  display: none;
}

#gal {
  display: none;
}

#wel {

}
